<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipios</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        /* Estilo personalizado para alinear los elementos desde la derecha */
        .navbar-nav {
            margin-left: auto;
            flex-direction: row-reverse;
        }
        .nav-item {
            margin-right: .5rem;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.x.x/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Taller CRUD iTalento</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Departamentos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-departamento">Insertar</a>
                  <a class="dropdown-item" href="/borrar-departamento">Borrar</a>
                  <a class="dropdown-item" href="/update-departamento">Actualizar</a>
                  <a class="dropdown-item" href="/departamentos">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-persona">Insertar</a>
                  <a class="dropdown-item" href="/borrar-persona">Borrar</a>
                  <a class="dropdown-item" href="/update-persona">Actualizar</a>
                  <a class="dropdown-item" href="/personas">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Municipios</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-municipio">Insertar</a>
                  <a class="dropdown-item" href="/borrar-municipio">Borrar</a>
                  <a class="dropdown-item" href="/update-municipio">Actualizar</a>
                  <a class="dropdown-item" href="/municipios">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Viviendas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-vivienda">Insertar</a>
                  <a class="dropdown-item" href="/borrar-vivienda">Borrar</a>
                  <a class="dropdown-item" href="/update-vivienda">Actualizar</a>
                  <a class="dropdown-item" href="/viviendas">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Propietarios</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-propietario">Insertar</a>
                  <a class="dropdown-item" href="/borrar-propietario">Borrar</a>
                  <a class="dropdown-item" href="/update-propietario">Actualizar</a>
                  <a class="dropdown-item" href="/propietarios">Ver</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="card m-4 mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <form class="m-4" action="/createMunicipio" method="POST">
          <fieldset>
            <legend style="text-align: center;">Municipios</legend>
            <div class="form-group row">
            </div>
            <div class="form-group">
              <label for="nombre" class="form-label mt-4">Nombre del municipio</label>
              <input type="text" name="nombre" class="form-control" id="nombre" aria-describedby="municipioHelp" placeholder="Ingresa por favor el nombre del municipio">
              <small id="municipioHelp" class="form-text text-muted">Inserta por favor el nombre del municipio.</small>
            </div>
            <div class="form-group">
              <label for="area" class="form-label mt-4">Escriba el area en numeros</label>
              <input type="text" name="area"  class="form-control" id="area" placeholder="Ingresa por favor el area del municipio" autocomplete="off">
              <small id="areaHelp" class="form-text text-muted">Por favor ingresa la cantidad numerica del area.</small>
            </div>
            <div class="form-group">
              <label for="presupuesto" class="form-label mt-4">Escriba el presupuesto en numeros</label>
              <input type="text" name="presupuesto" class="form-control" id="presupuesto" placeholder="Ingresa por favor el presupuesto del municipio" autocomplete="off">
              <small id="presupuestoHelp" class="form-text text-muted">Por favor ingresa la cantidad numerica del presupuesto.</small>
            </div>
            <div class="form-group">
              <label for="gobernador" class="form-label mt-4">Escriba la identificacion del gobernador</label>
              <input type="text" name="gobernador" class="form-control" id="gobernador" placeholder="Ingresa por favor la identificacion del gobernador" autocomplete="off">
              <small id="identificacionHelp" class="form-text text-muted">Por favor ingresa la identificacion del gobernador.</small>
            </div>
            <div class="form-group">
              <label for="departamento" class="form-label mt-4">Escriba el id del departamento</label>
              <input type="text" name="departamento" class="form-control" id="departamento" placeholder="Ingresa por favor el id del departamento" autocomplete="off">

              <small id="identificacionHelp" class="form-text text-muted">Por favor ingresa la identificacion del departamento.</small>

            </div>
            <h1> </h1>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
</body>
</html>