<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        /* Estilo personalizado para alinear los elementos desde la derecha */
        .navbar-nav {
            margin-left: auto;
            flex-direction: row-reverse;
        }
        .nav-item {
            margin-right: .5rem;
        }
    </style>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.x.x/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Taller CRUD iTalento</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/departamento" role="button" aria-haspopup="true" aria-expanded="false">Departamentos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-departamento">Insertar</a>
                  <a class="dropdown-item" href="/borrar-departamento">Borrar</a>
                  <a class="dropdown-item" href="/update-departamento">Actualizar</a>
                  <a class="dropdown-item" href="/departamentos">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-persona">Insertar</a>
                  <a class="dropdown-item" href="/borrar-persona">Borrar</a>
                  <a class="dropdown-item" href="/update-persona">Actualizar</a>
                  <a class="dropdown-item" href="/personas">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Municipios</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-municipio">Insertar</a>
                  <a class="dropdown-item" href="/borrar-municipio">Borrar</a>
                  <a class="dropdown-item" href="/update-municipio">Actualizar</a>
                  <a class="dropdown-item" href="/municipios">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Viviendas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-vivienda">Insertar</a>
                  <a class="dropdown-item" href="/borrar-vivienda">Borrar</a>
                  <a class="dropdown-item" href="/update-vivienda">Actualizar</a>
                  <a class="dropdown-item" href="/viviendas">Ver</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Propietarios</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/crear-propietario">Insertar</a>
                  <a class="dropdown-item" href="/borrar-propietario">Borrar</a>
                  <a class="dropdown-item" href="/update-propietario">Actualizar</a>
                  <a class="dropdown-item" href="/propietarios">Ver</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="card m-4 mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <form class="m-4" action="/createPersona" method="POST">
          <fieldset>
            <legend style="text-align: center;">Personas</legend>
            <div class="form-group row">
            </div>
            <div class="form-group">
              <label for="id" class="form-label mt-4">Escribe tu identificacion</label>
              <input type="number" name="id" class="form-control" id="id" aria-describedby="id" placeholder="ingresa tu identificacion">
              <small id="nombresHelp" class="form-text text-muted">Recuerda que una identificacion tiene 10 numeros</small>
            </div>
            <div class="form-group">
              <label for="nombre" class="form-label mt-4">Escribe tus nombres</label>
              <input type="text" name="nombre" class="form-control" id="nombre" aria-describedby="apellidosHelp" placeholder="Ingresa por favor tus dos nombres si no exceden 45 caracteres">
              <small id="nombresHelp" class="form-text text-muted">Recuerda que si excedes los 45 caracteres en los dos nombres, solo debes poner uno.</small>
            </div>
            <div class="form-group">
              <label for="apellido" class="form-label mt-4">Escribe tus apellidos</label>
              <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Ingresa por favor tus dos apellidos si no excedes los 45 caracteres" autocomplete="off">
              <small id="apellidosHelp" class="form-text text-muted">Recuerda que si excedes los 45 caracteres en los dos apellidos, solo debes poner uno.</small>
            </div>
            <div class="form-group">
              <label for="genero" class="form-label mt-4">Escribe tu genero</label>
              <input type="number" name="genero" class="form-control" id="sexo" placeholder="Ingresa tu sexo" autocomplete="off">
              <small id="generoHelp" class="form-text text-muted">ingresa 0 no binario, 1 mujer y 2 hombre.</small>
            </div>
            <div class="form-group">
              <label for="edad" class="form-label mt-4">Escribe tu edad</label>
              <input type="number" name="edad" class="form-control" id="edad" placeholder="Ingresa por favor tu edad en numeros" autocomplete="off">
              <small id="edadHelp" class="form-text text-muted">Ingresa por favor la edad</small>
            </div>
            <div class="form-group">
              <label for="telefono" class="form-label mt-4">Escribe tu numero de telefono</label>
              <input type="tel" name="telefono" class="form-control" id="telefono" placeholder="Ingresa por favor tu numero de telefono" autocomplete="off">
              <small id="numeroHelp" class="form-text text-muted">Escribe en numeros tu numero</small>
            </div>
            <div class="form-group">
              <label for="vivienda_id" class="form-label mt-4">Escribe la identificacion del tu vivienda</label>
              <input type="text" name="vivienda_id" class="form-control" id="vivienda_id" placeholder="Ingresa el id de tu vivienda" autocomplete="off">
              <small id="iddepHelp" class="form-text text-muted">placeholder</small>
            </div>
            <div class="form-group">
              <label for="responsable" class="form-label mt-4">Escribe la identificacion del responsable, deja en blanco si tu eres el responsable</label>
              <input type="number" name="responsable" class="form-control" id="responsable" placeholder="Ingresa el id del responsable" autocomplete="off">
              <small id="iddepHelp" class="form-text text-muted">placeholder</small>
            </div>
            <h1></h1>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
</body>
</html>